@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/open-dyslexic/OpenDyslexic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/open-dyslexic/OpenDyslexic-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/open-dyslexic/OpenDyslexic-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/open-dyslexic/OpenDyslexic-Bold-Italic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

.dyslexia-mode .content {
  font-size: 18px;
  font-family: "OpenDyslexic", 'Times New Roman', Times, serif;
  font-weight: 500;
}
